/* body{  
    margin: 3px;
    padding: 30px;
} */

*{
    /* border: 1px solid white; */
    align-content: center;
    text-align: center;
    background-color: rgb(202, 211, 219);
}

.container{
    display: grid;
    align-content: stretch;
    height: 100vh;
    gap: 4px;
    font-size: 20px;
    /* border: 1px solid white; */
    color:aliceblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: 
    "h h h"
    "s c1 c1"
    "s c2 c3"
    "f f f";
}

.header{
    grid-area: h;
    background: linear-gradient(to bottom right, rgb(143, 81, 223) , rgb(152, 158, 218));
    /* grid-column: 1 / -1; */
}

.sidebar{
    grid-area: s;
    background: linear-gradient(to bottom right, rgb(92, 233, 202) , rgb(73, 156, 182));
        /* grid-row: 2 / -1; */
    /* grid-column: 1 / -3; */
}

.content1{
    grid-area: c1;
    background: linear-gradient(to bottom right, rgb(149, 100, 214) , rgb(6, 162, 235), rgb(143, 219, 194));
    /* grid-column: 2 / -1; */
    /* grid-row: 2 / -1; */
}

.content2{
    grid-area: c2;
    background: linear-gradient(to bottom right, rgb(149, 100, 214) , rgb(6, 162, 235), rgb(143, 219, 194));
    /* grid-row: 3 / -1; */
    /* grid-column: 2 / -1; */
}

.content3{
    grid-area: c3;
    background: linear-gradient(to bottom right, rgb(149, 100, 214) , rgb(6, 162, 235), rgb(143, 219, 194));
    /* grid-row: 3 / -1; */
    /* grid-column: 3 / -1; */

}

.footer{
    grid-area: f;
    background: linear-gradient(to bottom right, rgb(143, 81, 223) , rgb(152, 158, 218));
    /* grid-column: 1 / -1; */
}